workflows/apex-lead-capture.json
{
  "name": "Apex — New Client Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apex-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: New Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "apex-lead"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\n\nconst required = ['name', 'email'];\nfor (const field of required) {\n  if (!body[field] || String(body[field]).trim().length === 0) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(body.email)) {\n  throw new Error('Invalid email format');\n}\n\nreturn [{\n  json: {\n    name: body.name.trim(),\n    email: body.email.trim().toLowerCase(),\n    phone: body.phone?.trim() ?? '',\n    serviceType: body.serviceType ?? 'General Inquiry',\n    notes: body.notes?.trim() ?? '',\n    submittedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "validate-lead",
      "name": "Validate Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "service_type": "={{ $json.serviceType }}",
            "notes": "={{ $json.notes }}",
            "created_at": "={{ $json.submittedAt }}"
          }
        },
        "options": {}
      },
      "id": "supabase-insert",
      "name": "Insert Lead to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "james@apexbuilders.com",
        "subject": "🔔 New Client Request — {{ $('Validate Lead Data').item.json.name }}",
        "message": "<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background: #f5f5f5;\">\n  <div style=\"background: #13151A; border-radius: 16px; padding: 32px; color: white;\">\n    <div style=\"text-align: center; margin-bottom: 24px;\">\n      <h1 style=\"color: #0df2f2; font-size: 24px; margin: 0;\">⚡ New Lead Alert</h1>\n      <p style=\"color: #9ca3af; margin-top: 8px;\">Apex Builders Client Portal</p>\n    </div>\n    \n    <div style=\"background: #1e2128; border-radius: 12px; padding: 24px; margin-bottom: 16px;\">\n      <h2 style=\"color: white; font-size: 18px; margin-bottom: 16px; border-bottom: 1px solid #374151; padding-bottom: 12px;\">Client Details</h2>\n      <table style=\"width: 100%; border-collapse: collapse;\">\n        <tr>\n          <td style=\"color: #9ca3af; padding: 8px 0; width: 40%;\">Name</td>\n          <td style=\"color: white; font-weight: bold; padding: 8px 0;\">{{ $('Validate Lead Data').item.json.name }}</td>\n        </tr>\n        <tr>\n          <td style=\"color: #9ca3af; padding: 8px 0;\">Email</td>\n          <td style=\"color: #0df2f2; padding: 8px 0;\">{{ $('Validate Lead Data').item.json.email }}</td>\n        </tr>\n        <tr>\n          <td style=\"color: #9ca3af; padding: 8px 0;\">Phone</td>\n          <td style=\"color: white; padding: 8px 0;\">{{ $('Validate Lead Data').item.json.phone || 'Not provided' }}</td>\n        </tr>\n        <tr>\n          <td style=\"color: #9ca3af; padding: 8px 0;\">Service Type</td>\n          <td style=\"color: #f97316; font-weight: bold; padding: 8px 0;\">{{ $('Validate Lead Data').item.json.serviceType }}</td>\n        </tr>\n      </table>\n    </div>\n    \n    {{ $('Validate Lead Data').item.json.notes ? `<div style=\"background: #1e2128; border-radius: 12px; padding: 24px; margin-bottom: 24px; border-left: 3px solid #0df2f2;\"><h3 style=\"color: #9ca3af; font-size: 12px; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 8px;\">Notes from Client</h3><p style=\"color: white; margin: 0;\">${$('Validate Lead Data').item.json.notes}</p></div>` : '' }}\n    \n    <div style=\"text-align: center; margin-top: 24px;\">\n      <a href=\"https://apex-builders-portal-nu.vercel.app/admin/dashboard\" style=\"background: #0df2f2; color: #13151A; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-weight: bold; display: inline-block;\">View in Dashboard →</a>\n    </div>\n    \n    <p style=\"color: #4b5563; text-align: center; font-size: 12px; margin-top: 24px;\">Received {{ $('Validate Lead Data').item.json.submittedAt }}</p>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "replyTo": "={{ $('Validate Lead Data').item.json.email }}"
        }
      },
      "id": "gmail-notify",
      "name": "Email Admin: New Lead",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [940, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Thank you! We've received your request and will be in touch within 24 hours.\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Send Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"message\": \"Something went wrong. Please try again or call us directly.\"}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Send Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 480]
    }
  ],
  "connections": {
    "Webhook: New Lead": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead Data": {
      "main": [
        [
          {
            "node": "Insert Lead to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead to Supabase": {
      "main": [
        [
          {
            "node": "Email Admin: New Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Admin: New Lead": {
      "main": [
        [
          {
            "node": "Send Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateId": "apex-lead-capture",
    "instanceId": "apex-builders"
  },
  "tags": ["apex-builders", "leads", "notifications"]
}
